<h1> Welcome to Rock Paper Scissors!</h1>
<h2> This is the world famous rock, paper, scissors game!</h2>
<p> The rules of the game are simple:
  <ul>
    <li>Rock beats scissors</li>
    <li>Scissors beats paper</li>
    <li>Paper beats rock</li>
  </ul>
</p>
<p>In order to play, you need to select your choice and type it into the URL bar, your opponent types their choice into the url bar seperated by a '/'. Press enter and see who wins!!!</p>
<p> Example: "http://localhost:4567/rock/paper"</p>
